<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VITAE</title>

  <!-- bug asqueroso -->
  <link rel="shortcut icon" href="">
  <!-- Bootstrap core CSS -->
  <link href="../Ejemplo_pagina/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../Ejemplo_pagina/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="../Ejemplo_pagina/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../Ejemplo_pagina/css/freelancer.min.css" rel="stylesheet">
<!--<style type="text/css">#portfolio-modal-1{width: 700px; margin-left:center; }</style>-->
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
       <a class="navbar-brand js-scroll-trigger" href="#page-top">VITAE</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Suicidio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Tipos de suicidio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#prevenirlo">¿Cómo prevenirlo?</a>
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#casos">Historias</a>
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login.ejs">Iniciar sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="../Ejemplo_pagina/img/doctor.png" alt="">
      <h1 class="text-uppercase mb-0">Bienvenido</h1>
      <hr class="star-light">
    </div>
  </header>


<section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Suicidio</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <p class="lead">El suicidio es considerado por la OMS como un acto con resultado letal, deliberadamente iniciado y realizado por el sujeto, sabiendo o esperando su resultado letal. 
Lo anterior quiere decir que el suicidio es un fenómeno que se desencadena como resultado de una falta de integración del individuo en la sociedad, además de que conllevan otros factores como el hecho de que existen problemas a su alrededor con personas con las que convive día a día y sus pensamientos llevan al individuo a tomar la decisión de que es mejor quitarse la vida. </p>
<br>
<br>
<p class="lead">
El suicidio se identifica por etapas.

<br>
1.  Ideación suicida<br>
2.  Planeación  <br>
3.  Autolesionamiento (Intento suicida)<br>
4.  Suicidio <br>
</p>
<br>
<br>
<p class="lead">
La <b>ideación suicida</b> empieza cuando un individuo experimenta en sus pensamientos el cómo podría llegar a quitarse la vida. Además de que empieza a hacer comentarios en los que hace notoria su ideación suicida. Tales comentarios pueden ser por ejemplo: “Me quiero morir.”, “Todos estarían mejor sin mí.”
<br>
<br>
La <b>planeación</b> comienza una vez que las ideas se volvieron latentes, por lo que el individuo ya planea el cómo es que se quitará la vida. Esta es la etapa en la que la persona no encuentra otra salida que no sea el quitarse la vida, porque su deseo es terminar con lo que está sintiendo en el momento.
</p>
<br>

<p class="lead">
El <b>autolesionamiento</b> comienza cuando el individuo se empieza a lastimar, por ejemplo cortándose en las muñecas. Lo significativo de esta etapa es cuando se vuelve un intento suicida, como el haber ingerido un número elevado de pastillas, el haber intentado ahorcarte, entre otras más. 
<br>
<br>
Finalmente el <b>suicidio</b> es el final de la vida de una persona, en la que un posible intento llegó a su culminación: la muerte. Desafortunadamente esta es la etapa en la que no hay una vuelta atrás, solo resta el proceso de lidiar con los hechos aunque se intenta comprender el porqué. Sin embargo no siempre se encontrarán los motivos por los que la persona decidió quitarse la vida.
<br>
</p>
    </div>
  </section>

  <!-- About Section -->
  <section class="bg-primary text-black mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-black">Tipos de suicidio</h2>
      <hr class="star-light mb-5">
      <div class="row">
          <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
          <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-7">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-8">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-9">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-10">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-11">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-12">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead"></p>
        </div>
      </div>
      
    </div>
  </section>

  


 <!-- Contact Section -->
  <section id="prevenirlo">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">¿Cómo prevenirlo?</h2>
      <hr class="star-dark mb-5">
      <div class="row">
         <p class="lead">
          El suicidio es una de las causas de muerte que ha ido en incremento en los últimos años. Esta situación es alarmante, porque se puede estar viviendo con personas que están comenzando a entrar en la etapa de solo ideación, por lo que es recomendable hacer caso a la más mínima señal de alerta para pedir ayuda con algún profesional o así mismo tratar de ayudar a la persona que lo necesite.
          <br>
          <br>
          ¿Cómo podemos ayudar?
          <br>
          <br>
          Primero que nada se debe estar alerta a esas pequeñas señales que empiezan a brotar en el momento en que uno se expresa. 
          En ocasiones pueden estar tan encerrados en su mundo que no logran expresar lo que llevan dentro y temen que al decirlo nadie los escuche, por lo que es importante siempre brindar un apoyo de escucha a las personas. 
          <br>
          <br>
          No solo podemos ayudar en el momento en el que empezamos a notar cambios drásticos en una persona, también puede ser después de algún intento de suicidio.
          <br>
          <br>
          He aquí donde hay que hacer énfasis en que hay que brindarle el apoyo a la persona y no hacer que se sienta ensimismado. Algunas maneras en que se puede ayudar a una persona en este caso son las siguientes:
          <br>
          <br>
          • Retirar los objetos punzocortantes o aquellos con los que pueda autolesionarse.
          <br>
          <br>
          • Ayuda psicológica. 
          <br>
          <br>
          • Identificar el problema para poder brindar el apoyo necesario, y ofrecerle alternativas a la persona. 
          <br>
          <br>
          • Realizar actividades para mantener a la persona distraída en algo.
          <br>
          <br>
          • Motivarlo de tal manera que se logre subir la autoestima.
          <br>
          <br>
          • Establecer una red de apoyo fuerte (familia y amigos).
         </p>
      </div>
    </div>
  </section>

<!-- Historias Section -->
  <section id="casos">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Historias</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-13">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chico1.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-14">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chica1.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-15">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chico2.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-16">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chica2.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-17">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chico3.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-18">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chica3.png" alt="">
          </a>
        </div>      
      </div>
    </div>
  </section>

  <!-- Footer -->
  
  <div class="copyright py-4 text-center text-black">
    <div class="container">
      <small></small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio egoísta</h2>
            <!---<hr class="star-dark mb-5">-->
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo1.jpg" alt="">
            <p class="mb-5">Suicidio egoísta. El individuo en este tipo tiene muy pocos lazos de unión con la comunidad o sociedad a la que pertenece. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio altruista</h2>
            
           <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo2.png" alt="">
            <p class="mb-5"><center>Suicidio altruista.  El individuo se quita la vida porque está sobre integrado a la sociedad. </center></p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio anómico</h2>
           
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo3.jpg" alt="">
            <p class="mb-5">El individuo se aísla psicológicamente que aparece cuando los vínculos que unen al ser humano con un grupo social se debilitan. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio psicótico</h2>
           
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo4.png" alt="">
            <p class="mb-5">Es aquel que se produce en el curso de una psicosis, como en una esquizofrenia. La persona aquí sufre de una desconexión con la realidad y con su entorno.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio depresivo</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo5.jpg" alt="">
            <p class="mb-5">Se presenta en el curso de una depresión mayor. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
            Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio psicodisplástico</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo6.jpg" alt="">
            <p class="mb-5">Este tipo se caracteriza porque la persona ejerce una gran agresividad hacia sí misma. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Portfolio Modal 7 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-7">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio Social</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo7.jpg" alt="">
            <p class="mb-5">Este tipo se caracteriza porque la persona ejerce una gran agresividad hacia sí misma. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 8 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-8">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio filosófico</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo8.jpg" alt="">
            <p class="mb-5">La personalidad del individuo lo lleva  a un proceso de reflexión en el que “descubre” la falta de sentido de su existencia o de la existencia humana en general. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 9 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-9">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio impulsivo</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo11.jpg" alt="">
            <p class="mb-5">Este tipo se lleva a acabo de forma súbita, es decir, sin que la persona haya dado avisos explícitos o implícitos de su deseo de morir o de sus intenciones suicidas. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Portfolio Modal 10 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-10">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio obsesivo</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo10.png" alt="">
            <p class="mb-5">La idea suicida está muy presente en el individuo por lo que se ve incapaz de rechazarla. La persona sí ha dado avisos de sus intenciones suicidas.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Portfolio Modal 11 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-11">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio refrexivo</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo9.jpg" alt="">
            <p class="mb-5">Opuesto al impulsivo. La idea de quitarse la vida está presente en la persona con tal detenimiento de reflexión. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 12 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-12">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio histriónico</h2>
          
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo12.jpg" alt="">
            <p class="mb-5">Este se lleva a cabo con cierto aire teatral, en el que la persona hace una representación aparentemente suicida con la pretensión de llamar la atención para conseguir determinados propósitos. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Portfolio Modal 13 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-13">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Diego</h2>
            <p class="mb-5">Diego es un joven que en la escuela no muestra realmente la situación por la que está pasando, sus amigos comenzaron a verlo diferente sin embargo él siempre dice que todo está bien. 
            <br><br>
            Al llegar a casa tiene que lidiar con severas peleas entre sus padres por el hecho de que ambos se están quedando sin empleo y los gastos en casa están siendo superiores a los anteriores. Día tras día comienza a tener ideas sobre el cómo sería su vida si él se llegase a quitar la vida para acabar con un peso para ellos. 
            <br><br>
            Por un momento cree que todo va a estar mejor si él desaparece, puesto a que van a disminuir los gastos por parte de la escuela. Se siente con un peso terrible de estar siendo una interferencia en la felicidad de sus padres. 
            <br><br>
            Un día en la escuela sus amigos deciden confrontarlo, porque comenzaron a notarlo más serio y raro de lo que había estado con anterioridad. Nuevamente Diego evitó hablar sobre lo que tenía y sus amigos tomaron la iniciativa de buscar ayuda en un profesional para que su amigo pueda hablar sobre lo que está pasando. 
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 14-->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-14">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Mariana</h2>
            <p class="mb-5">Mariana es una adolescente que como todos suelen pasar por una etapa en la que se enamoran de una persona y dan todo por mantener la relación a flote. 
            <br><br>
            Un día su novio decidió terminar con ella, sin embargo ella trató de hacerle entender que no podía ser así, que había una solución para arreglar la situación por la que estaban pasando. Él le dijo que lo mejor era estar separados un tiempo en lo que cada uno decidía lo que realmente quería, porque se sentía presionado por otros factores y no quería que las cosas terminaran mal.
            <br><br>
            Los amigos de Mariana le dijeron que debía de ver todas las perspectivas y que no pensara solo en el peor de los cosas, pero ella se nubló a sí misma la vista haciéndose ideas. 
            <br><br>
            Lo primero que se le ocurrió fue tratar de llamar su atención nuevamente y para poder tenerlo la mayor parte del tiempo decidió que se auto infligiría tomando pastillas. 
            <br><br>
            Un día de camino a casa decidió comprar las pastillas, al llegar a su casa verificó que nadie estuviera y se encerró en su habitación. Una vez que destapó el frasco se detuvo a pensar en si realmente era necesario hacer aquello con tal de mantener a la persona que más quería cerca. Pero lo único que deseaba era tenerlo, no quería lidiar con el hecho de estar sola. No aceptaba que la relación había de detenerse. Tomó las pastillas decidida. 
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 15-->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-15">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Fernando</h2>
            <p class="mb-5">Fernando desafortunadamente ha estado viviendo situaciones en casa que lo han orillado a que su última alternativa es hundirse en las bebidas alcohólicas. A pesar de los intentos de otros familiares por acogerlo, él no cede por no querer ser una carga de más. 
            <br><br>
            Los amigos con los que convive día a día también son personas que están perdidas entre las drogas y el alcohol. Por lo que realmente no encuentra una salida alterna. 
            <br><br>
            Un día decide que lo mejor es no volver a casa y dejar que las cosas tomen otro rumbo para el bien de todos. Incluso desea mejor no haber nacido por la situación que estaba atravesando. 
            <br><br>
            Al pasar de los días dejó de asistir a la escuela y siguió abusando del uso de sustancias. Una tarde encontraron su cuerpo debajo de un puente, junto a una nota.
            <br>
            <center><i>Para mamá y papá:
            <br><br> 
            Sé que hice mal al irme, sin embargo espero que las cosas se solucionen. Siempre los querré, pero no puedo seguir viviendo así.
            <br><br>
            Fer
            </i></center>
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 16-->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-16">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Lidia</h2>
            <p class="mb-5">Lidia desde pequeña ha tenido que vivir con burlas por parte de sus compañeros debido a que es perteneciente a una etnia y por ende adaptarse a una forma de vida diferente le ha costado trabajo. 
            <br><br>
            Ahora estando en el nivel medio superior los comentarios sarcásticos siguen estando presentes y se siente indefensa. Aunque se ha hecho la fuerte siempre termina cayendo en sus pensamientos suicidas, pensando que es un salida más accesible. 
            <br><br>
            A pesar de que su mamá la ha ayudado en todo, no se siente segura de querer continuar viviendo de esa manera. Sabía que le costaría trabajo adaptarse, pero nunca pensó que las cosas seguirían así por mucho tiempo. 
            <br><br>
            Decidió quitarse la vida tomando una soga, la ató en una de las vigas de su cuarto y ahí quedó su cuerpo hasta que su madre la descubrió cuando la llamó para que bajara a comer. 
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 17-->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-17">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Ignacio</h2>
            <p class="mb-5">Ignacio ya estando en el campo laboral se vio afectado cuando recortaron el presupuesto en la empresa donde había laborado ya durante seis años. 
            <br><br>
            Ha tenido que pedir préstamos en bancos para poder cubrir los gastos que debía, y poco a poco comenzó a desesperarse porque era demasiado dinero el que debía. 
            <br><br>
            Habló con una doctora porque había intentado quitarse la vida de la desesperación por tener que recuperar todo el dinero prestado, y le aconsejó que se relajara, que buscara ayuda dentro de sus parientes más cercanos pero que no dejara que la desesperación y el estrés por el que pasaba lo absorbieran. Lo animó a continuar adelante, haciéndole énfasis en que siempre habría una manera de solucionar las cosas. 
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 18-->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-18">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Paulina</h2>
            <p class="mb-5">Paulina dejó una nota el día que se suicidó, recalcando la situación por la que estaba atravesando y simplemente desistió. 
            <br><br>
            <i>A quien me encuentre. 
            <br><br>
            Seguro se preguntarán el por qué hice esto, sin embargo creo que ya saben que lo que se llevó el mayor peso fue la violación que tuve hace meses. 
            <br><br>
            Sé que siempre me apoyaron y me brindaron ayuda para salir adelante, sin embargo no saben el cómo me sentía cada que un hombre siquiera trataba de darme un apretón de manos o un simple beso en la mejilla. 
            <br><br>
            El recuerdo estaba presente siempre en mí y debía acabar con él de una vez por todas… </i>
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../Ejemplo_pagina/vendor/jquery/jquery.min.js"></script>
  <script src="../Ejemplo_pagina/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../Ejemplo_pagina/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../Ejemplo_pagina/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="../Ejemplo_pagina/js/jqBootstrapValidation.js"></script>
  <script src="../Ejemplo_pagina/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../Ejemplo_pagina/js/freelancer.min.js"></script>

</body>
</html>
