<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VITAE</title>

  <!-- bug asqueroso -->
  <link rel="shortcut icon" href="">
  <!-- Bootstrap core CSS -->
  <link href="../Ejemplo_pagina/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="../app-assets/images/ico/logo.png">
  <link rel="shortcut icon" type="image/png" href="../app-assets/images/ico/logo.png">  
  <!-- Custom fonts for this template -->
  <link href="../Ejemplo_pagina/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="../Ejemplo_pagina/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../Ejemplo_pagina/css/freelancer.min.css" rel="stylesheet">
<!--<style type="text/css">#portfolio-modal-1{width: 700px; margin-left:center; }</style>-->
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
       <a class="navbar-brand js-scroll-trigger" href="#page-top">VITAE</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Suicidio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Tipos de suicidio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#prevenirlo">¿Cómo prevenirlo?</a>
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#casos">Historias</a>
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login.ejs">Iniciar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="../Ejemplo_pagina/img/doctor.png" alt="">
      <h1 class="text-uppercase mb-0">Bienvenido</h1>
      <hr class="star-light">
    </div>
  </header>


<section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Suicidio</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <p class="lead">El suicidio es considerado por la OMS como un acto con resultado letal, deliberadamente iniciado y realizado por el sujeto, sabiendo o esperando su resultado letal. 
Lo anterior quiere decir que el suicidio es un fenómeno que se desencadena como resultado de una falta de integración del individuo en la sociedad, además de que conllevan otros factores como el hecho de que existen problemas a su alrededor con personas con las que convive día a día y sus pensamientos llevan al individuo a tomar la decisión de que es mejor quitarse la vida. </p>
<br>
<br>
<p class="lead">
El suicidio se identifica por etapas.

<br>
1.  Ideación suicida<br>
2.  Planeación  <br>
3.  Autolesionamiento (Intento suicida)<br>
4.  Suicidio <br>
</p>
<br>
<br>
<p class="lead">
La <b>ideación suicida</b> empieza cuando un individuo experimenta en sus pensamientos el cómo podría llegar a quitarse la vida. Además de que empieza a hacer comentarios en los que hace notoria su ideación suicida. Tales comentarios pueden ser por ejemplo: “Me quiero morir.”, “Todos estarían mejor sin mí.”
<br>
<br>
La <b>planeación</b> comienza una vez que las ideas se volvieron latentes, por lo que el individuo ya planea el cómo es que se quitará la vida. Esta es la etapa en la que la persona no encuentra otra salida que no sea el quitarse la vida, porque su deseo es terminar con lo que está sintiendo en el momento.
</p>
<br>

<p class="lead">
El <b>autolesionamiento</b> comienza cuando el individuo se empieza a lastimar, por ejemplo cortándose en las muñecas. Lo significativo de esta etapa es cuando se vuelve un intento suicida, como el haber ingerido un número elevado de pastillas, el haber intentado ahorcarte, entre otras más. 
<br>
<br>
Finalmente el <b>suicidio</b> es el final de la vida de una persona, en la que un posible intento llegó a su culminación: la muerte. Desafortunadamente esta es la etapa en la que no hay una vuelta atrás, solo resta el proceso de lidiar con los hechos aunque se intenta comprender el porqué. Sin embargo no siempre se encontrarán los motivos por los que la persona decidió quitarse la vida.
<br>
</p>
    </div>
  </section>

  <!-- About Section -->
  <section class="bg-primary text-black mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-black">Tipos de suicidio</h2>
      <hr class="star-light mb-5">
      <div class="row">
          <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
          <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-7">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-8">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-9">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-10">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-11">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-12">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/carpeta.png" alt="">
          </a>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead"></p>
        </div>
      </div>
      
    </div>
  </section>

  


 <!-- Contact Section -->
  <section id="prevenirlo">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">¿Cómo prevenirlo?</h2>
      <hr class="star-dark mb-5">
      <div class="row">
         <p class="lead">
          El suicidio es una de las causas de muerte que ha ido en incremento en los últimos años. Esta situación es alarmante, porque se puede estar viviendo con personas que están comenzando a entrar en la etapa de solo ideación, por lo que es recomendable hacer caso a la más mínima señal de alerta para pedir ayuda con algún profesional o así mismo tratar de ayudar a la persona que lo necesite.
          <br>
          <br>
          ¿Cómo podemos ayudar?
          <br>
          <br>
          Primero que nada se debe estar alerta a esas pequeñas señales que empiezan a brotar en el momento en que uno se expresa. 
          En ocasiones pueden estar tan encerrados en su mundo que no logran expresar lo que llevan dentro y temen que al decirlo nadie los escuche, por lo que es importante siempre brindar un apoyo de escucha a las personas. 
          <br>
          <br>
          No solo podemos ayudar en el momento en el que empezamos a notar cambios drásticos en una persona, también puede ser después de algún intento de suicidio.
          <br>
          <br>
          He aquí donde hay que hacer énfasis en que hay que brindarle el apoyo a la persona y no hacer que se sienta ensimismado. Algunas maneras en que se puede ayudar a una persona en este caso son las siguientes:
          <br>
          <br>
          • Retirar los objetos punzocortantes o aquellos con los que pueda autolesionarse.
          <br>
          <br>
          • Ayuda psicológica. 
          <br>
          <br>
          • Identificar el problema para poder brindar el apoyo necesario, y ofrecerle alternativas a la persona. 
          <br>
          <br>
          • Realizar actividades para mantener a la persona distraída en algo.
          <br>
          <br>
          • Motivarlo de tal manera que se logre subir la autoestima.
          <br>
          <br>
          • Establecer una red de apoyo fuerte (familia y amigos).
         </p>
      </div>
    </div>
  </section>

<!-- Historias Section -->
  <section id="casos">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Historias</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-13">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chico1.png" alt="">
          </a>
        </div>
      <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-24">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chica1.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-25">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chico2.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-44">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chica3.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-32">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chica2.png" alt="">
          </a>
        </div>
        <div class="col-md-4 col-lg-2">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-43">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../Ejemplo_pagina/img/Chico3.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  
<div class="copyright py-4 text-center text-black">
    <div class="container">
      <small></small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio egoísta</h2>
            <!---<hr class="star-dark mb-5">-->
            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo1.jpg" alt="">
            <p class="mb-5">Suicidio egoísta. El individuo en este tipo tiene muy pocos lazos de unión con la comunidad o sociedad a la que pertenece. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio altruista</h2>

           <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo2.png" alt="">
            <p class="mb-5"><center>Suicidio altruista.  El individuo se quita la vida porque está sobre integrado a la sociedad. </center></p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio anómico</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo3.jpg" alt="">
            <p class="mb-5">El individuo se aísla psicológicamente que aparece cuando los vínculos que unen al ser humano con un grupo social se debilitan. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio psicótico</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/Tipos de suicidio/tipo4.png" alt="">
            <p class="mb-5">Es aquel que se produce en el curso de una psicosis, como en una esquizofrenia. La persona aquí sufre de una desconexión con la realidad y con su entorno.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio depresivo</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo5.jpg" alt="">
            <p class="mb-5">Se presenta en el curso de una depresión mayor. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
            Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio psicodisplástico</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo6.jpg" alt="">
            <p class="mb-5">Este tipo se caracteriza porque la persona ejerce una gran agresividad hacia sí misma. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Portfolio Modal 7 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-7">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio Social</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo7.jpg" alt="">
            <p class="mb-5">Este tipo se caracteriza porque la persona ejerce una gran agresividad hacia sí misma. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 8 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-8">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio filosófico</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo8.jpg" alt="">
            <p class="mb-5">La personalidad del individuo lo lleva  a un proceso de reflexión en el que “descubre” la falta de sentido de su existencia o de la existencia humana en general. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 9 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-9">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio impulsivo</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo11.jpg" alt="">
            <p class="mb-5">Este tipo se lleva a acabo de forma súbita, es decir, sin que la persona haya dado avisos explícitos o implícitos de su deseo de morir o de sus intenciones suicidas. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Portfolio Modal 10 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-10">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio obsesivo</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo10.png" alt="">
            <p class="mb-5">La idea suicida está muy presente en el individuo por lo que se ve incapaz de rechazarla. La persona sí ha dado avisos de sus intenciones suicidas.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Portfolio Modal 11 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-11">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio refrexivo</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo9.jpg" alt="">
            <p class="mb-5">Opuesto al impulsivo. La idea de quitarse la vida está presente en la persona con tal detenimiento de reflexión. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 12 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-12">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Suicidio histriónico</h2>

            <img class="img-fluid mb-5" src="../Ejemplo_pagina/img/tipo12.jpg" alt="">
            <p class="mb-5">Este se lleva a cabo con cierto aire teatral, en el que la persona hace una representación aparentemente suicida con la pretensión de llamar la atención para conseguir determinados propósitos. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Portfolio Modal 13 HISTORIA DE DIEGO-->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-13">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-13">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Diego</h2>
            <p class="mb-5"><p class="mb-5">
              <p align="justify">
              Diego es un chico de catorce años que vive el día a día como si todo en su vida estuviera bien.
              Incluso, en la escuela sus compañeros han llegado a cuestionarlo en ocasiones por actitudes que están fuera de lo habitual. Hay veces que está tan ido que deja de prestar atención a todo. Sin embargo, él siempre responde que todo está bien.
              La maestra un día lo agarró de sorpresa con la misma pregunta que le hacían todos:
              <br>
              — ¿Cómo estás?
              </p>
              <center>¿Qué responderá Diego a esto?</center>
              <br>
    <center>
    <table>
      <tr>
    <td><center><a class="portfolio-item d-block" href="#portfolio-modal-14">
     <i class="tn btn-primary btn-lg rounded-pill">Bien</i></center></td>
</tr>
<tr><td><br></td></tr>
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-14">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-14">
          <i class="fa fa-3x fa-times"></i>
          </a>
        <div class="container text-center">
      <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="text-secondary text-uppercase mb-0">Bien</h2>
        <p class="mb-5"><p class="mb-5">
          <p align="justify">
          Una vez más mintió sobre su estado de ánimo real.
          De regreso a casa, encuentra nuevamente que sus padres están teniendo una fuerte pelea. Ambos se callan en cuanto ven a su hijo frente a ellos, pero él únicamente avanza hacia su habitación.
          Por primera vez piensa en el suicidio, se imagina borrándose de la vida de sus padres para no ser una carga más. Analiza los gastos que han hecho por él, tantos sacrificios.
          <center> ¿Qué hará ahora?</center>
          <!--Seguir pensando en ello-->
          <br>
    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-16">
     <i class="tn btn-primary btn-lg rounded-pill">Seguir pensando en ello</i><br>
        <div class="portfolio-modal mfp-hide" id="portfolio-modal-16">
          <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-16">
            <i class="fa fa-3x fa-times"></i>
            </a>
          <div class="container text-center">
        <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-secondary text-uppercase mb-0">Seguir pensando en ello</h2>
          <p class="mb-5"><p class="mb-5">
            <p align="justify">
            Entre los gritos provenientes de la sala su desesperación comienza a intensificarse. Sigue con la idea sobre que todo estaría mejor sin él, que todo siempre ha sido su culpa.
            <center><i>“Nunca debí nacer. Ellos estarían mejor…”</i></center>
            Agarra su computadora y empieza a navegar entre la red buscando los métodos fáciles para llevar a cabo su objetivo.
            Por un momento se detiene a cuestionarse bien lo que está haciendo.
            <center>¿Qué continuará haciendo?</center>
            </p>
            <!-- -->
            <!--Sigue buscando informacion -->
      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-18">
        <i class="tn btn-primary btn-lg rounded-pill">Sigue buscando información</i>
          <div class="portfolio-modal mfp-hide" id="portfolio-modal-18">
            <div class="portfolio-modal-dialog bg-white">
             <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-18">
             <i class="fa fa-3x fa-times"></i>
             </a>
            <div class="container text-center">
          <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-secondary text-uppercase mb-0">Sigue buscando información</h2>
            <p class="mb-5"><p class="mb-5">
              <p align="justify">
              Encuentra que mucha gente termina ahorcándose, o también terminan con sus vidas tomando pastillas.
              Intenta buscar pastillas, pero cae en la cuenta de que no tiene las indicadas. Así que opta por la otra opción.
              Voltea a ver su cuarto, sabe que está en un piso alto. Verifica que cuenta con las suficientes sabanas para unirlas.
              Comienza a anudarlas hasta que consigue obtener una soga hecha por ellas; la amarra de su cama y sin pensarlo se ata el cuello con ella. Camina hacia la ventana con las lágrimas en los ojos, voltea a su puerta. Nadie va hacia él, nadie quiere saber cómo se encuentra.
              Se sube hacia su ventana y sin dudarlo se avienta quedando colgado.
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Fin</a>
              </p>
        </div>
          </div>
            </div>
          </div>
        </div>
        <!-- -->
        <!--Cierra su computadora y se calma-->
        <br>
  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-19">
    <i class="tn btn-primary btn-lg rounded-pill">Cierra su computadora y se calma</i>
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-19">
        <div class="portfolio-modal-dialog bg-white">
         <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-19">
         <i class="fa fa-3x fa-times"></i>
         </a>
        <div class="container text-center">
      <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="text-secondary text-uppercase mb-0">Cierra su computadora y se calma</h2>
        <p class="mb-5"><p class="mb-5">
          <p align="justify">
            Piensa en que está mal lo que rodea sus pensamientos. No puede hacerles eso a sus padres.
            Intenta respirar tranquilamente para salir a hablar con ellos, sabe que es necesario.
            Respira profundamente y abre la puerta de su habitación. Al bajar sigue escuchando los gritos, y en cuanto llega a la sala les grita que se detengan. Las lágrimas empiezan a brotar de sus ojos dejando a sus papás anonadados.
            Se acercan a él y lo abrazan. Comienza a hablar sobre cómo se siente, incluso menciona la idea que estaba rondando su mente.
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Fin</a>
          </p>
    </div>
      </div>
        </div>
      </div>
    </div>
    <!-- -->
      </div>
        </div>
          </div>
        </div>
      </div>
      <!--Intentar calmarse-->
      <br>
      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-17">
       <i class="tn btn-primary btn-lg rounded-pill">Intentar calmarse</i>
     </a>
        <div class="portfolio-modal mfp-hide" id="portfolio-modal-17">
         <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-17">
          <i class="fa fa-3x fa-times"></i>
          </a>
        <div class="container text-center">
      <div class="row">
     <div class="col-lg-8 mx-auto">
      <h2 class="text-secondary text-uppercase mb-0">Intentar calmarse</h2>
       <p class="mb-5"><p class="mb-5">
        <p align="justify">
        Los gritos por un momento cesan, así que eso ayuda a que se tranquilice aún más.
        Sin quererlo cae en un sueño profundo.
        Al despertar su mamá se encuentra a su lado. Diego voltea a verla y la abraza fuertemente.
        — ¿Cómo te encuentras?
        <center>¿Qué dirá ahora?</center>
        </p>
        <!--Habla sobre su estado-->

        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-20">
         <i class="tn btn-primary btn-lg rounded-pill">Habla sobre su estado</i>
       </a>
          <div class="portfolio-modal mfp-hide" id="portfolio-modal-20">
           <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-20">
            <i class="fa fa-3x fa-times"></i>
            </a>
          <div class="container text-center">
        <div class="row">
       <div class="col-lg-8 mx-auto">
        <h2 class="text-secondary text-uppercase mb-0">Habla sobre su estado</h2>
         <p class="mb-5"><p class="mb-5">
          <p align="justify">
            Comienza a decirle cómo se siente con la situación que están viviendo. Cada vez más empieza a sentirse mejor al hablar al respecto.
            Su mamá le pide disculpas por todas las escenas que ha tenido que presenciar. Intenta calmarlo más, y es ahí donde su padre aparece en la puerta.
            Confiesa haber escuchado todo y se acerca a ellos para rodearlos con sus brazos.
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Fin</a>
          </p>
        </div>
          </div>
            </div>
          </div>
        </div>
        <!--Habla sobre su estado-->
        <!--Miente como se siente-->
        <br>
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-21">
         <i class="tn btn-primary btn-lg rounded-pill">Miente como se siente</i>
       </a>
          <div class="portfolio-modal mfp-hide" id="portfolio-modal-21">
           <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-21">
            <i class="fa fa-3x fa-times"></i>
            </a>
          <div class="container text-center">
        <div class="row">
       <div class="col-lg-8 mx-auto">
        <h2 class="text-secondary text-uppercase mb-0">Miente como se siente</h2>
         <p class="mb-5"><p class="mb-5">
          <p align="justify">
            Una parte de él quiere decirle las cosas, pero termina ganando la que siempre dice que todo está bien.
            Únicamente le dice a su mamá que se encuentra cansado por la escuela y que debe de estudiar para sus exámenes. Esto hace que ella opte por irse de su habitación, dejándolo solo.
            Al retirarse, Diego sabe que tendrá que vivir con la decisión que tomó.
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Fin</a>
          </p>
        </div>
          </div>
            </div>
          </div>
        </div>
        <!--Miente como se siente-->
      </div>
        </div>
          </div>
        </div>
      </div>
      </div>
        </div>
          </div>
        </div>
      </div>
      <!--Intenta calmarse-->
    <!--Mal, estoy mal-->
  </tr>
     <tr> <td><a class="portfolio-item d-block" href="#portfolio-modal-15">
        <i class="tn btn-primary btn-lg rounded-pill">Mal, estoy mal.</i></td>
      </tr>
    </table></center>
      </a>
         <div class="portfolio-modal mfp-hide" id="portfolio-modal-15">
          <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-15">
            <i class="fa fa-3x fa-times"></i>
            </a>
          <div class="container text-center">
        <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-secondary text-uppercase mb-0">Mal, estoy mal.</h2>
          <p class="mb-5"><p class="mb-5">
           <p align="justify">
           Al escuchar esto, la maestra decide acercarlo hacia su escritorio.
           Una vez que están cara a cara, le pregunta el motivo por el cual se encuentra se esa manera. Nervioso, Diego empieza a hablar sobre la situación que vive en su casa. Las peleas constantes que tiene que presenciar, los gritos provenientes de sus padres sin tener la culpa.
           La profesora al terminar de oír todo le pregunta si le gustaría tratar sus problemas con un especialista. Esto lo hace porque el ambiente en el que se está desenvolviendo Diego no es nada sano.
           <center>¿Qué responderá Diego?</center>
           <br>
        <!--Sí, le gustaría-->
        <td><a class="portfolio-item d-block" href="#portfolio-modal-22">
          <i class="tn btn-primary btn-lg rounded-pill">Sí, le gustaría</i></td>
        </tr>
      </table></center>
        </a>
           <div class="portfolio-modal mfp-hide" id="portfolio-modal-22">
            <div class="portfolio-modal-dialog bg-white">
              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-22">
              <i class="fa fa-3x fa-times"></i>
              </a>
            <div class="container text-center">
          <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-secondary text-uppercase mb-0">Sí, le gustaría</h2>
            <p class="mb-5"><p class="mb-5">
             <p align="justify">
              La profesora sale un momento del salón dejando a Diego con sus compañeros.
              Una de ellas se acerca a él para decirle que no había sido su intención escuchar su historia, pero que lo apoyaría en lo que pudiera. Diego sonrió ante ese comentario.
              Después de unos minutos su maestra regresó con la encargada de Trabajo Social. Llaman a Diego para salir del aula, y una vez fuera le dice que lo acompañe a su oficina.
              Estando en el nuevo aposento toma asiento y comienza a ser interrogado sobre todo lo que está viviendo.
              Finalmente llaman a sus padres para hablar con todos y así llegar a algún acuerdo entre todos.
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Fin</a>
            </p>
          </div>
            </div>
             </div>
            </div>
          </div>
        <!--Sí, le gustaría-->
        <!--No, prefiere que las cosas tomen su curso-->
        <br>
        <td><a class="portfolio-item d-block" href="#portfolio-modal-23">
          <i class="tn btn-primary btn-lg rounded-pill">No, prefiere que las cosas tomen su curso</i></td>
        </tr>
      </table></center>
        </a>
           <div class="portfolio-modal mfp-hide" id="portfolio-modal-23">
            <div class="portfolio-modal-dialog bg-white">
              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-23">
              <i class="fa fa-3x fa-times"></i>
              </a>
            <div class="container text-center">
          <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-secondary text-uppercase mb-0">No, prefiere que las cosas tomen su curso</h2>
            <p class="mb-5"><p class="mb-5">
             <p align="justify">
               Regresa a su asiento dándole las gracias a la profesora por haberlo escuchado. Sin embargo, ella no se queda de brazos cruzados.
               Al terminar la clase, Diego se va a su casa pensando en que hizo mal al hablar sobre lo que estaba viviendo. Seguro su maestra haría algo al respecto y lo regañarían por haber hablado.
               Termina por desviarse de su camino habitual. Intenta idear algo para arreglar el problema en el que se había metido, pero sin querer termina llorando de la desesperación.
               Retoma su camino a casa sintiéndose culpable, pero se percata de que hay una patrulla fuera de ella. Corre en seguida y en cuanto sus padres lo ven, se acercan. Lo inundan con un abrazo preguntándole sobre dónde se había metido.
               Diego suelta todo entre lágrimas y sus papás quedan perplejos ante la situación.
               <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                 <i class="fa fa-close"></i>
                 Fin</a>
            </p>
          </div>
            </div>
             </div>
            </div>
          </div>
        <!--Sí, le gustaría-->
        </div>
          </div>
           </div>
          </div>
        </div>
        <!--Mal, estoy mal-->
      </div>
        </div>
         </div>
        </div>
      </div>
      <!--FIN Portafolio de Diego-->

      <!-- Portfolio Modal 24 HISTORIA DE LIDIA-->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-24">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-24">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Lidia</h2>
              <p class="mb-5"><p class="mb-5">
                <p align="justify">
                  Desde que Lidia era menor, tenía que vivir con las burlas por parte de sus compañeros por pertenecer a una etnia. Por lo anterior, siempre tenía problemas de adaptación.
                  Cursando el nivel medio superior, ha tenido que volver a pasar por burlas. Sin embargo, ella cada vez más siente la presión social. Y por ende, sus pensamientos empiezan a ser embargados por ideas suicidas.
                  Consciente de que no es la mejor salida, y a pesar de la exhaustiva ayuda de su madre, no se siente segura de vivir así día tras día.
                  Un día simplemente consiguió una soga. En su habitación tenía vigas sobre el techo, por lo que la ató y se colgó. Su madre la encontró después de no haber hecho caso a sus llamadas para bajar a comer.
             <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fin</a>
             </div>

            </div>
          </div>
        </div>
      </div>
      <!--FIN DE LA HISTORIA DE LIDIA-->

      <!-- Portfolio Modal 24 HISTORIA DE FERNANDO-->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-25">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-25">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Fernando</h2>
              <p class="mb-5"><p class="mb-5">
                <p align="justify">
                  Fernando ha estado adentrándose al mundo del alcohol, lo ve como su única salida ante los problemas que vive día a día en su casa.
                  Desde pequeño ha sido maltratado por su padre, siempre encontraba algún motivo para agarrarlo a golpes. Había crecido en un ambiente para nada bueno.

                  Llegó a casa de la escuela. Lo primero que hizo al entrar, fue verificar que su padre no se encontrara cerca. Saludó a su mamá y en seguida subió a su habitación.
                  Dejó sus cosas sobre la cama y se recostó. Mandó un mensaje a su pandilla para escaparse por un momento, en seguida le respondieron. Se cambió rápidamente y bajó con su mamá.
                  — ¿A dónde vas?
                  — Con mis amigos, vuelvo más tarde.
                  — No tan tarde, no quiero que se repita lo de la otra noche.
                  Cruzó el umbral de su casa pensando en aquello que su madre le había dicho.

                  <center>¿Qué hizo a continuación?</center>
                  <br>
                  <!--Revivió la sensación de aquel día-->
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-26">
                   <i class="tn btn-primary btn-lg rounded-pill">Revivió la sensación de aquel día</i>
                  </a>
                  <br>
                    <div class="portfolio-modal mfp-hide" id="portfolio-modal-26">
                     <div class="portfolio-modal-dialog bg-white">
                      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-26">
                      <i class="fa fa-3x fa-times"></i>
                      </a>
                    <div class="container text-center">
                  <div class="row">
                  <div class="col-lg-8 mx-auto">
                  <h2 class="text-secondary text-uppercase mb-0">Revivió la sensación de aquel día</h2>
                   <p class="mb-5"><p class="mb-5">
                    <p align="justify">
                      Recordó claramente la noche en que llegó tarde a casa.
                      Pensó que sus padres ya estarían dormidos y nadie se daría cuenta de que no estaba. Había decidido trepar por el árbol que estaba cerca de la ventana de su habitación, pero nunca imaginó que en su cuarto estaría esperándolo su padre.
                      En cuanto vio que estaba sentado sobre su cama bajó instintivamente, entró sigilosamente por la puerta principal. Se detuvo por un instante en la sala y decidido avanzó hacia las escaleras.
                      Al llegar a la entrada de su cuarto comenzó a suplicarle a su padre que no lo golpeara, que el tiempo se le había ido. Sin embargo, su padre tomó el cinturón que traía en mano y lo azotó en su espalda.

                      Salió de sus pensamientos y continúo caminando.
                      Al llegar con sus amigos se sintió como un completo desconocido. Sabía que el estar bebiendo no lo sacaría del mundo en el que vivía, pero se sentía menos afligido.
                      Entre risas, música y alcohol, terminó por embriagarse. No estaba en sus sentidos como para retomar el regreso a casa, por lo que durmió en casa de uno de sus amigos.
                      <center>Al despertar, ¿qué hizo?</center>
                    </p>
                    <!--Regersó a casa-->
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-28">
                     <i class="tn btn-primary btn-lg rounded-pill">Regresó a casa</i>
                    </a>
                      <div class="portfolio-modal mfp-hide" id="portfolio-modal-28">
                       <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-28">
                        <i class="fa fa-3x fa-times"></i>
                        </a>
                      <div class="container text-center">
                    <div class="row">
                    <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Regresó a casa</h2>
                     <p class="mb-5"><p class="mb-5">
                      <p align="justify">
                        Volvió a la realidad.
                        Se fue pensando en lo que pasaría si es que su padre aún se encontraba en casa, pero en el fondo albergaba la esperanza de que ya no estuviera.

                        Al llegar a casa, lo único que hizo fue tomar sus cosas de la escuela e irse en seguida. Su mamá lo había retenido para cuestionarlo, pero hizo caso omiso y continuó su camino.
                        Estando en clases seguía pensando en su padre. Sabía que no era una mala persona, solo tenía arranques de ira y se terminaba desquitando con él, pero ya se estaba cansando de ello.
                        Habría querido que su vida fuese diferente, un poco más alegre.

                        De regreso a su hogar pensó en la manera en que podría terminar con todo. Sonaba extremo incluso para él el hecho de imaginar una vida en la que no estuviera, pero el peso de toda la situación estaba recayendo más en él.
                        Llegó a casa, entró saludando a su mamá y pidiéndole disculpas por haberse ido sin decirle nada en la mañana. Su madre le dijo que se quedara a hablar con ella un momento.
                        <center>¿Qué hizo?</center>
                      </p>
                      <!--Fue a su habitación-->
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-30">
                       <i class="tn btn-primary btn-lg rounded-pill">Fue a su habitación</i>
                      </a>
                        <div class="portfolio-modal mfp-hide" id="portfolio-modal-30">
                         <div class="portfolio-modal-dialog bg-white">
                          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-30">
                          <i class="fa fa-3x fa-times"></i>
                          </a>
                        <div class="container text-center">
                      <div class="row">
                      <div class="col-lg-8 mx-auto">
                      <h2 class="text-secondary text-uppercase mb-0">Fue a su habitación</h2>
                       <p class="mb-5"><p class="mb-5">
                        <p align="justify">
                          Contestó que no estaba de ánimos para hablar, así que subió a su cuarto.
                          Recostado viendo hacia el techo seguía pensando. Cada vez más se animaba a desaparecer de una vez por todas, sería lo mejor para él.
                          No era algo que debiera planear tanto, solo era cuestión de decidir si sí o no lo haría.

                          Tomó una hoja y comenzó a escribir su despedida.
                          <br>
                          <i>Mamá:
                          <br>
                          Cuando encuentres esto probablemente ya sea demasiado tarde para mí.
                          Sé que podía haber hecho algo más, pero no podía vivir de esta manera. Incluso estoy consciente de que yo mismo me busqué algunas cosas por haberme diluido con malas compañías.
                          Solo quiero que sepas que siempre te querré. Y no quiero que te sientas culpable…</i>
                          <br>
                          En las siguientes horas se registró el haber visto a un joven aventarse de un puente peatonal. Ese joven era Fernando.
                        </p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fin</a>
                      </div>
                        </div>
                          </div>
                        </div>
                      </div>
                      <!--Fue a su habitación-->
                      <!--Se quedó a hablar-->
                      <br>  
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-31">
                       <i class="tn btn-primary btn-lg rounded-pill">Se quedó a hablar</i>
                      </a>
                        <div class="portfolio-modal mfp-hide" id="portfolio-modal-31">
                         <div class="portfolio-modal-dialog bg-white">
                          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-31">
                          <i class="fa fa-3x fa-times"></i>
                          </a>
                        <div class="container text-center">
                      <div class="row">
                      <div class="col-lg-8 mx-auto">
                      <h2 class="text-secondary text-uppercase mb-0">Se quedó sin hablar</h2>
                       <p class="mb-5"><p class="mb-5">
                        <p align="justify">
                          Por un momento pensó en irse, pero después de las ideas que habían rondado su mente, decidió hablar con su madre.
                          Al inicio estaba nervioso, tenía miedo de tan solo hablar sobre su estado. Sin embargo, comenzó a decir todo.
                          Poco a poco liberó la carga que llevaba encima, hasta que su madre finalmente lo rodeó con sus brazos diciéndole que lamentaba no haberlo ayudado antes. Ante esta acción, él solo se limitó a sentir el cariño emanado por su madre.

                          Días después dejaron su casa. Incluso la madre sabía que era lo más sensato ante la situación que había soportado por años.
                          Conforme avanzó el tiempo, Fernando fue mejorando hasta que regresó a ser aquel joven feliz y enérgico que era antes.

                        </p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fin</a>
                      </div>
                        </div>
                          </div>
                        </div>
                      </div>
                      <!--Se quedo a hablar-->
                    </div>
                      </div>
                        </div>
                      </div>
                    </div>
                    <!--Regresó a casa-->

                    <!--Se quedó más tiempo recostado-->
                    <br>
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-29">
                     <i class="tn btn-primary btn-lg rounded-pill">Se quedó mas tiempo recostado</i>
                    </a>
                      <div class="portfolio-modal mfp-hide" id="portfolio-modal-29">
                       <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-29">
                        <i class="fa fa-3x fa-times"></i>
                        </a>
                      <div class="container text-center">
                    <div class="row">
                    <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Se quedó más tiempo recostado</h2>
                     <p class="mb-5"><p class="mb-5">
                      <p align="justify">
                        Meditó el irse a casa o quedarse más tiempo. Sin embargo, creyó que lo mejor era quedarse recostado.
                        No quería regresar a casa, por lo que su amigo le dijo que se quedara el tiempo que él quisiera. Se levantaron después de mediodía, bajaron a la cocina y se prepararon algo para desayunar.
                        Durante la merienda, el amigo de Fernando le dijo que se echaran una línea para completar el paquete de desayuno que estaban teniendo. Él sin pensarlo dos veces, respondió que sí.
                        Volvieron a subir y se acomodaron sobre el sillón. Colocaron el polvo sobre una mesita. Fernando vio a su amigo cómo inhaló la primera línea. Seguido de él, se acercó poco a poco a la mesa.
                        Tímidamente alineo su parte, se agachó e inhaló todo hasta dejar la mesa libre de evidencia. En cuestión de minutos Fernando comenzó a tener una sobredosis, su amigo no supo que hacer. Solo se quedó observando como la vida de Fernando se iba acabando.

                        Días después fue encontrado el cuerpo de un joven en un callejón. Fue identificado por su madre, era Fernando.
                        <br>
                        <br>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                          <i class="fa fa-close"></i>
                          Fin</a>
                      </p>
                    </div>
                      </div>
                        </div>
                      </div>
                    </div>
                    <!--Se quedó más tiempo recostado-->
                  </div>
                    </div>
                      </div>
                    </div>
                  </div>
            <!--Revivió la sensación de aquel día-->
            <!--Siguio como si nada-->
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-27">
             <i class="tn btn-primary btn-lg rounded-pill">Siguió como si nada</i>
            </a>
              <div class="portfolio-modal mfp-hide" id="portfolio-modal-27">
               <div class="portfolio-modal-dialog bg-white">
                <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-27">
                <i class="fa fa-3x fa-times"></i>
                </a>
              <div class="container text-center">
            <div class="row">
            <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Siguió como si nada</h2>
             <p class="mb-5"><p class="mb-5">
              <p align="justify">
                Avanzó a la parada del camión y esperó a que pasara.
                Llegando a la escuela entró a cada una de sus clases, pero no se sentía completo. Era como un vació que invadía su cuerpo y lo hacía sentir realmente triste.
                Al terminar su día en la escuela decidió hablar con alguien. Así que buscó a la  psicóloga.
                Cuando llegó con ella en seguida fue atendido. Entró a la sala y se recostó en una cama.
                — ¿Cuál es tu nombre?
                — Fernando.
                — ¿A qué se debe tu visita?
                — Necesito hablar con alguien…
                — ¿Qué sucede?
                Fernando relató todo lo que había pasado. La psicóloga comenzó a tomar nota de cada una de las cosas que él le iba diciendo.
                Una vez que finalizó su sesión, le dijo que tendría que llamar a sus padres para poder tener una reunión familiar y hablar sobre todo lo que él tenía.

                Días después la madre de Fernando fue la única que fue a la sesión. Su padre había dicho que eran puras tonterías, que él no iba a dar la cara ante una psicóloga.
                La psicóloga habló claramente con su madre, diciéndole que debía de salirse de la vida que estaban llevando. Porque el daño que le estaban causando a Fernando iba a ser peor si la situación seguía avanzando, además de que él ya comenzaba a desinteresarse de muchas actividades, y se adentraba al mundo menos indicado.
                La mamá de Fernando dijo que ya lo había considerado, pero no era lo suficientemente valiente como para llevarlo a cabo. Sin embargo, al escuchar todo lo que su hijo le había dicho, se armó de valor.

                Fernando al hablar sobre todo lo que sentía y al haber recibido la ayuda pertinente, regresó a su vida normal. Siendo un joven feliz.
                <br>
                <br>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Fin</a>
              </p>
            </div>
              </div>
                </div>
              </div>
            </div>
            <!--Siguió como si nada-->
      <!--Revivió la sensación de aquel día-->
             </div>
            </div>
          </div>
        </div>
      </div>
      <!--FIN DE LA HISTORIA DE FERNANDO-->
      <!-- Portfolio Modal 24 HISTORIA DE Paulina-->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-44">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-44">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Paulina</h2>
              <p class="mb-5"><p class="mb-5">
                <p align="justify">
                  Desafortunadamente Paulina fue encontrada muerta en su domicilio. Dejando una nota en donde recalcaba las cosas por las cuales había tomado esa fuerte decisión.
                  <br>
                  <br>
                  <i>A quien me encuentre:
                  <br>
                  <br>
                  Te preguntarás los motivos por los cuáles decidí tomar esta salida. Primero que nada, debes estarte ideando lo de mi violación. Y en efecto, esa fue la de mayor peso.
                  <br>
                  Además de ello, problemas escolares y personales me agobiaban día a día. Ya no podía más.
                  <br>
                  Sé que conté con el apoyo de muchas personas, sé que mi familia siempre estaba presente. Pero NADIE sentía lo que yo, NADIE sentía miedo cada vez que salía a la calle. NADIE sentía un escalofrío recorrer su cuerpo en cuanto un hombre se acercaba mucho a mí.
                  <br>
                  El recuerdo siempre estaba presente, y decidí acabar con él de una vez por todas…
                  <br>
                  Lo siento.</i>
                  <br>
                  <br>
                  <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                    <i class="fa fa-close"></i>
                    Fin</a>
            </div>
          </div>
        </div>
      </div>
      <!--FIN DE LA HISTORIA DE Paulina-->
      <!-- Portfolio Modal 24 HISTORIA DE MARIANA-->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-32">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-32">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Mariana</h2>
              <p class="mb-5"><p class="mb-5">
                <p align="justify">
                  Mariana es una adolescente que como todas, pasan por la etapa de enamoramiento. Pero un día todo se acabó, su novio decidió que la relación no avanzaría más si continuaban juntos.
                  Una amiga de ella decidió llevarla a la plaza para poder platicar, había estado preocupada por ella desde que su relación había terminado. Por lo que decidió ayudarla a distraerse.
                  <br>
                  — ¿Cómo estás llevando tu ruptura?
                  <br>
                  — No me siento bien todavía…
                  <br>
                  Su amiga no supo cómo responder, solo se quedaron sentadas en una fuente.
                   <br>
                  En cuanto Mariana llegó a su casa intentó no desanimarse como lo había estado diariamente, pero era inevitable. Todos intentaban animarla, incluso su mamá había tratado de hablar sobre el tema. Sin embargo, siempre lo evitaba.
                  En su habitación comenzó a pensar en cómo podría hacerle para volver a llamar la atención de su antigua pareja, así que se le ocurrió buscar como auto lastimarse.
                  <center>¿Realmente lo buscó?</center><br>
                  <!--Si-->
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-33">
                   <i class="tn btn-primary btn-lg rounded-pill">Sí</i>
                  </a>
                    <div class="portfolio-modal mfp-hide" id="portfolio-modal-33">
                     <div class="portfolio-modal-dialog bg-white">
                      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-33">
                      <i class="fa fa-3x fa-times"></i>
                      </a>
                    <div class="container text-center">
                  <div class="row">
                  <div class="col-lg-8 mx-auto">
                  <h2 class="text-secondary text-uppercase mb-0">Sí</h2>
                   <p class="mb-5"><p class="mb-5">
                    <p align="justify">
                      Una vez que entró al navegador de su computadora, buscó diferentes opciones. Solo que no quería causarse mucho daño físico, por lo que escogió el tomar pastillas. Había leído que podían hacerle un auto lavado para limpiar su estómago de todo lo que ingiriera.
                      <br>
                      <br>
                      Al siguiente día saliendo de la escuela decidió pasar a la farmacia en busca de las pastillas. Ya tenía toda una historia organizada para que se las pudieran vender; todo estaba marchando bien para su propósito.
                      Estando en la farmacia se quedó pensando en cómo sería todo una vez que las ingiriera, si sentiría dolor, si realmente iba a ser hallada para reanimarla… Su mente estaba llena de muchas incógnitas.
                      <center>¿Qué decidió hacer?</center><br>
                      <!--Comprar las pastillas-->
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-34">
                       <i class="tn btn-primary btn-lg rounded-pill">Comprar las pastillas</i>
                      </a>
                        <div class="portfolio-modal mfp-hide" id="portfolio-modal-34">
                         <div class="portfolio-modal-dialog bg-white">
                          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-34">
                          <i class="fa fa-3x fa-times"></i>
                          </a>
                        <div class="container text-center">
                      <div class="row">
                      <div class="col-lg-8 mx-auto">
                      <h2 class="text-secondary text-uppercase mb-0">Comprar las pastillas</h2>
                       <p class="mb-5"><p class="mb-5">
                        <p align="justify">
                          Compró las pastillas y en seguida se fue a casa.
                          Su madre no estaría hasta dentro de unas horas, por lo que calculó la hora en la que aproximadamente llegaría para que la encontrase.
                          Estuvo en su habitación recostada mientras recordaba todas las historias que había vivido con su novio. Pensó en lo feliz que era y en cómo toda su vida había cambiado desde el momento en que él la terminó.
                          Muchos recuerdos en su mente aligeraron las lágrimas de sus ojos. Volteó a ver el reloj y ya era la hora. Se levantó tras su mochila para tomar las pastillas.
                          Teniéndolas en mano volvió a cuestionarse si estaba haciendo lo correcto.
                          <center>¿Tomó las pastillas?</center><br>
                          <!--Sí-->
                          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-35">
                           <i class="tn btn-primary btn-lg rounded-pill">Sí</i>
                          </a>
                            <div class="portfolio-modal mfp-hide" id="portfolio-modal-35">
                             <div class="portfolio-modal-dialog bg-white">
                              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-35">
                              <i class="fa fa-3x fa-times"></i>
                              </a>
                            <div class="container text-center">
                          <div class="row">
                          <div class="col-lg-8 mx-auto">
                          <h2 class="text-secondary text-uppercase mb-0">Sí</h2>
                           <p class="mb-5"><p class="mb-5">
                            <p align="justify">
                              Despertó en el hospital, volteó a sus lados y pudo reconocer a su madre. Entre lágrimas ésta se acercó con ella.
                              La acarició del rostro diciéndole que todo estaría bien, Mariana simplemente se quedó callada.

                              Pasadas unas horas ya había reaccionado en su totalidad. Seguía desconcertada, sin embargo trató de mantener compostura.
                              Su mamá entró a la habitación acompañada de una doctora y comenzaron a hacerle preguntas. Terminó por confesar lo que había planeado y el objetivo por el cual lo había hecho.
                              Pidió perdón a su madre por haber sido una tonta y empezó a llorar. Ella simplemente la abrazó mostrando el apoyo que tendría para superar el acontecimiento.
                              <br>
                              <br>
                              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                <i class="fa fa-close"></i>
                                Fin</a>
                            </p>
                          </div>
                            </div>
                              </div>
                            </div>
                          </div>
                          <!--No, las dejó--><br>
                          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-37">
                           <i class="tn btn-primary btn-lg rounded-pill">No, las dejó</i>
                          </a>
                            <div class="portfolio-modal mfp-hide" id="portfolio-modal-37">
                             <div class="portfolio-modal-dialog bg-white">
                              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-37">
                              <i class="fa fa-3x fa-times"></i>
                              </a>
                            <div class="container text-center">
                          <div class="row">
                          <div class="col-lg-8 mx-auto">
                          <h2 class="text-secondary text-uppercase mb-0">No, las dejó</h2>
                           <p class="mb-5"><p class="mb-5">
                            <p align="justify">
                              Recapacitó ante lo que estaba a punto de hacer. Era innecesario tener que recurrir a aquella acción.
                              Soltó las pastillas dejándolas caer dentro de la mochila. Regresó a su cama para recostarse y esperó a que su mamá llegara a casa.

                              En cuanto escuchó el abrir de las puertas bajó inmediatamente. Corrió y abrazó fuertemente a su madre diciéndole que la perdonará. Ella la cuestionó sobre por qué tendría que perdonarla y Mariana comenzó a hablar sobre lo que habría ocurrido si no hubiera decidido lo correcto.

                              <br>
                              <br>
                              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                <i class="fa fa-close"></i>
                                Fin</a>
                            </p>
                          </div>
                            </div>
                              </div>
                            </div>
                          </div>
                          <!--No las dejó-->
                          <!--Sí-->
                        </p>
                      </div>
                        </div>
                          </div>
                        </div>
                      </div>
                      <!--Comprar las pastillas-->
                      <!--Volver a su casa-->
                      <br>
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-36">
                       <i class="tn btn-primary btn-lg rounded-pill">Volver a su casa</i>
                      </a>
                        <div class="portfolio-modal mfp-hide" id="portfolio-modal-36">
                         <div class="portfolio-modal-dialog bg-white">
                          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-36">
                          <i class="fa fa-3x fa-times"></i>
                          </a>
                        <div class="container text-center">
                      <div class="row">
                      <div class="col-lg-8 mx-auto">
                      <h2 class="text-secondary text-uppercase mb-0">Volver a su casa</h2>
                       <p class="mb-5"><p class="mb-5">
                        <p align="justify">
                          Dio media vuelta y regresó a casa.
                          Realmente estaba confundida sobre lo que estaba pensando. Por una parte quería que su exnovio se sintiera culpable por lo que le había hecho, pero por otro lado no quería hacer algo que a la larga traería consecuencias para ella.

                          Pasó el tiempo, hizo su tarea para distraerse mientras decidía lo que haría. Finalmente optó por no hacer nada, simplemente seguir con su vida.
                          Además sabía que no se encontraba sola, encontraría apoyo en su madre y en aquellas personas que se preocupan por ella. Saldría de la situación en la que se encontraba.
                          <br>
                          <br>
                          <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fin</a>
                        </p>
                      </div>
                        </div>
                          </div>
                        </div>
                      </div>
                      <!--Volver a su casa-->
                    </p>
                  </div>
                    </div>
                      </div>
                    </div>
                  </div>
                  <!--Si-->
                  <!--No-->
                  <br>
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-38">
                   <i class="tn btn-primary btn-lg rounded-pill">No</i>
                  </a>
                    <div class="portfolio-modal mfp-hide" id="portfolio-modal-38">
                     <div class="portfolio-modal-dialog bg-white">
                      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-38">
                      <i class="fa fa-3x fa-times"></i>
                      </a>
                    <div class="container text-center">
                  <div class="row">
                  <div class="col-lg-8 mx-auto">
                  <h2 class="text-secondary text-uppercase mb-0">No</h2>
                   <p class="mb-5"><p class="mb-5">
                    <p align="justify">
                      Cerró su computadora para mejor dormir. Pensó que lo mejor sería descansar.

                      Al amanecer se levantó como si nada hubiera pasado. Sin embargo, cuando se terminó de arreglar cayó en la cuenta de todo.
                      Su mamá le preguntó por su estado de ánimo y ella simplemente respondió que bien. Ambas salieron de casa dirigiéndose cada quien a su destino.
                      Durante el transcurso a la escuela se sintió realmente sola. Su novio había sido un gran apoyo después de que su papá se fuera con alguien más. Había sido su soporte durante el año que había pasado, y ahora estaba sola.

                      Entró a clases y su amiga más cercana se sentó a su lado. Mariana, por un instante fugaz se sintió acompañada por alguien que realmente la apreciaba.
                      Al dar inicio su descanso decidió hablar sobre su estado, así que lo primero que mencionó fue su idea de buscar la manera de llamar la atención de su ex pareja. Su amiga le dijo que no hiciera eso, porque lo que realmente importaba era el bienestar de ella.
                      <center>¿Qué pasó por la mente de Mariana en ese momento?</center>
                      <!--Que haría todo por llamar su atención--><br>
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-39">
                       <i class="tn btn-primary btn-lg rounded-pill">Que haría todo por llamar su atención</i>
                      </a>
                        <div class="portfolio-modal mfp-hide" id="portfolio-modal-39">
                         <div class="portfolio-modal-dialog bg-white">
                          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-39">
                          <i class="fa fa-3x fa-times"></i>
                          </a>
                        <div class="container text-center">
                      <div class="row">
                      <div class="col-lg-8 mx-auto">
                      <h2 class="text-secondary text-uppercase mb-0">Que haría todo por llamar su atención</h2>
                       <p class="mb-5"><p class="mb-5">
                        <p align="justify">
                          Su necedad fue más grande. Únicamente lo que quería era recuperar a su pareja, y lo haría costara lo que costara.

                          De regreso a casa buscó cómo autolesionarse, y lo primero que encontró fue tomar pastillas y el hacerse cortadas en la muñeca. Esto último considero que sería muy extremo, sin embargo optó por ello.
                          Bajó a la cocina y tomó uno de los cuchillos. Estando nuevamente en su habitación ideó todo para que saliera a la perfección.
                          Nuevamente abrió su computadora e inició su Skype. Vio a su objetivo conectado, por lo que inició una video llamada. Obtuvo respuesta en seguida, así que comenzó a hablar intentando hacerlo entrar en razón.
                          <br>
                          <br>
                          — Quiero que entiendas que no podemos seguir…
                          <br>
                          — ¿Por qué? ¡Dime que hice!
                          <br>
                          En ese momento sus ojos se cristalizaron y tomó el cuchillo mostrándole lo que haría si no recibía una explicación.
                          El joven le gritó que se detuviera, que no hiciera algo estúpido.
                          <center>¿Qué hizo a continuación?</center>
                        </p>
                        <!--Se cortó sin dudarlo-->
                        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-41">
                         <i class="tn btn-primary btn-lg rounded-pill">Se cortó sin dudarlo</i>
                        </a>
                          <div class="portfolio-modal mfp-hide" id="portfolio-modal-41">
                           <div class="portfolio-modal-dialog bg-white">
                            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-41">
                            <i class="fa fa-3x fa-times"></i>
                            </a>
                          <div class="container text-center">
                        <div class="row">
                        <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Se cortó sin dudarlo</h2>
                         <p class="mb-5"><p class="mb-5">
                          <p align="justify">
                            La sangre comenzó a brotar de su muñeca. El joven maldijo y salió disparado del lugar donde se encontraba.
                            Mariana comenzó a sentirse débil. Tomó su celular y marcó a su mamá. Con voz baja le dijo que había cometido una estupidez y que necesitaba ayuda. Colgó en seguida y cayó al suelo.

                            Cuando su mamá llegó a casa había una ambulancia fuera. Corrió en seguida hacia adentro buscando a su hija, encontró doctores en la escena más fuerte que viviría. Su hija estaba tirada en el suelo, muerta.
                            <br>
                            <br>
                            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                              <i class="fa fa-close"></i>
                              Fin</a>
                          </p>
                        </div>
                          </div>
                            </div>
                          </div>
                        </div>
                        <!--Se cortó sin dudarlo-->
                        <!--Bajó el cuchillo--><br>
                        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-42">
                         <i class="tn btn-primary btn-lg rounded-pill">Bajó el cuchillo</i>
                        </a>
                          <div class="portfolio-modal mfp-hide" id="portfolio-modal-42">
                           <div class="portfolio-modal-dialog bg-white">
                            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-42">
                            <i class="fa fa-3x fa-times"></i>
                            </a>
                          <div class="container text-center">
                        <div class="row">
                        <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Bajó el cuchillo</h2>
                         <p class="mb-5"><p class="mb-5">
                          <p align="justify">
                            Se detuvo antes de cometer lo peor.
                            Comenzó a llorar. El joven le dijo que no se moviera de donde estaba, que iría en seguida.

                            Una vez que llegó Mariana lo recibió, comenzó a decirle que no entendía el por qué todo había acabado de esa manera. Pero lo único que él quería era que se tranquilizara.
                            La abrazó y le dijo que todo estaría bien. Que encontrarían la ayuda necesaria para que mejorara.

                            Días después Mariana comenzó a recibir ayuda psicológica. Sabía que había estado mal lo que hizo, por lo que permitió que alguien la ayudara para sanar poco a poco.
                            <br>
                            <br>
                            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                              <i class="fa fa-close"></i>
                              Fin</a>
                          </p>
                        </div>
                          </div>
                            </div>
                          </div>
                        </div>
                        <!--Se cortó sin dudarlo-->
                      </div>
                        </div>
                          </div>
                        </div>
                      </div>
                      <!--Que haría todo por llamar su atención-->
                      <!--Que su amiga tenía razón--><br>
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-40">
                       <i class="tn btn-primary btn-lg rounded-pill">Que su amiga tenía razón</i>
                      </a>
                        <div class="portfolio-modal mfp-hide" id="portfolio-modal-40">
                         <div class="portfolio-modal-dialog bg-white">
                          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-40">
                          <i class="fa fa-3x fa-times"></i>
                          </a>
                        <div class="container text-center">
                      <div class="row">
                      <div class="col-lg-8 mx-auto">
                      <h2 class="text-secondary text-uppercase mb-0">Que su amiga tenía razón</h2>
                       <p class="mb-5"><p class="mb-5">
                        <p align="justify">
                          Entendió la preocupación de su amiga, entendió que lo que estaba pensando era algo malo.
                          Le dio las gracias por ayudarla y apoyarla en este momento en que se sentía sola. A lo que recibió como respuesta un: No estás sola.
                          La abrazó sintiéndose un poco mejor. Una parte de ella sabía que era lo que tenía que hacer, y se aferró a ello.
                          <br>
                          Al siguiente día comenzó a visitar a la terapeuta de su escuela. Le habló sobre cómo se sentía y que incluso había pensado en el peor de los casos.
                          Conforme fue avanzando el tiempo, Mariana mejoró. Nuevamente una sonrisa había aparecido sobre su rostro.
                          <br>
                          <br>
                          <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fin</a>
                        </p>
                      </div>
                        </div>
                          </div>
                        </div>
                      </div>
                      <!--Que su amiga tenía razón-->
                    </p>
                  </div>
                    </div>
                      </div>
                    </div>
                  </div>
                  <!--No-->
             </div>
            </div>
          </div>
        </div>
      </div>
      <!--FIN DE LA HISTORIA DE MARIANA-->
      <!-- Portfolio Modal 24 HISTORIA DE Ignacio-->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-43">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-43">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Ignacio</h2>
              <p class="mb-5"><p class="mb-5">
                <p align="justify">
                  Había estado trabajando en una empresa durante seis años, pero se vio afectado por el recorte de personal. Después de dicho suceso, tuvo que empeñar muchas cosas de valor que tenía, además de que solicitó préstamos.
                  El estrés ocasionado por pensar en todo lo que debía pagar, ocasionó que intentara quitarse la vida. Afortunadamente fue encontrado a tiempo y pudieron salvarlo.
                  Comenzó a asistir con una psicóloga para recibir ayuda, en cada sesión empezaba a sentirse seguro de querer adelante con su vida. Siempre le recalcaban que existían más alternativas, antes de tomar la peor.
                  Sin dudarlo, Ignacio consiguió salir adelante. Encontró nuevas experiencias que lo incentivaron a continuar con su vida.
                  <br>
                  <br>
                  <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                    <i class="fa fa-close"></i>
                    Fin</a>
            </div>
          </div>
        </div>
      </div>
      <!--FIN DE LA HISTORIA DE Ignacio-->
      <!-- Portfolio Modal 24 HISTORIA DE Ignacio-->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-43">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#portfolio-modal-43">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Ignacio</h2>
              <p class="mb-5"><p class="mb-5">
                <p align="justify">
                  Había estado trabajando en una empresa durante seis años, pero se vio afectado por el recorte de personal. Después de dicho suceso, tuvo que empeñar muchas cosas de valor que tenía, además de que solicitó préstamos.
                  El estrés ocasionado por pensar en todo lo que debía pagar, ocasionó que intentara quitarse la vida. Afortunadamente fue encontrado a tiempo y pudieron salvarlo.
                  Comenzó a asistir con una psicóloga para recibir ayuda, en cada sesión empezaba a sentirse seguro de querer adelante con su vida. Siempre le recalcaban que existían más alternativas, antes de tomar la peor.
                  Sin dudarlo, Ignacio consiguió salir adelante. Encontró nuevas experiencias que lo incentivaron a continuar con su vida.
                  <br>
                  <br>
                  <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                    <i class="fa fa-close"></i>
                    Fin</a>
            </div>
          </div>
        </div>
      </div>
      <!--FIN DE LA HISTORIA DE Ignacio-->

  <!-- Bootstrap core JavaScript -->
  <script src="../Ejemplo_pagina/vendor/jquery/jquery.min.js"></script>
  <script src="../Ejemplo_pagina/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../Ejemplo_pagina/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../Ejemplo_pagina/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="../Ejemplo_pagina/js/jqBootstrapValidation.js"></script>
  <script src="../Ejemplo_pagina/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../Ejemplo_pagina/js/freelancer.min.js"></script>

</body>
</html>
