<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bug asqueroso -->
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link href="../../Header/Ejemplo_pagina/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../../Header/Ejemplo_pagina/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../../Header/Ejemplo_pagina/css/freelancer.min.css" rel="stylesheet">

    <title>VITAE</title>
    <style type="text/css">
      body{
        background-color: white;
        overflow: auto;
      }
      #consultar{
        /*determinamos una anchura*/
        width:700px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/
        /*determinamos una altura*/
        height:500px;
        border-radius: 25px;
        overflow: auto;
        /*indicamos que el margen superior, es la mitad de la altura*/
        margin-top:130px;

        background-color: #ebd2f6;
        border:1px solid #c6c6c6;
      }
      #inputs{

        /*nos posicionamos en el centro del navegador*/
        /*determinamos una anchura*/
        width:600px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:330px;
        border-radius: 25px;
        overflow: auto;
        /*indicamos que el margen superior, es la mitad de la altura*/
        border:1px solid #c6c6c6;
      }
      #botones{
        /*nos posicionamos en el centro del navegador*/

        /*determinamos una anchura*/
        width:500px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:42px;
        border-radius: 25px;

        /*indicamos que el margen superior, es la mitad de la altura*/
      }
      #tab{
        width: 100%;
      }
      #tabgen{
        width: 100%;
      }
      #fechaNac{
        width: 70%;
      }
      #tel{
        width: 63%;
      }
      #registrar{
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }
      #registrar:hover{
        background-color: #555555;
        color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">VITAE</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/pacientes.ejs">Regresar</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login.ejs">Cerrar sesión</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <div id = "consultar" class = "container col-lg8 col-xs-12 col-centered">
      <br>
      <center><h5>Registrar paciente</h5></center>
      <br>
      <form action ="/pacientes.ejs/add_pac" method ="post">
      <div id="inputs" class = "container col-lg8 col-xs-12 col-centered">
        <br>
        <label for="nombr">Nombre</label>      
        <input type="text" id ="nombr" name="Nombre" class="form-control" placeholder="Nombre">
        <table id = "tab">
          <tr>
            <td><label for="apPat">Apellido paterno</label></td>
            <td><label for="apMat">Apellido materno</label></td>
          </tr>
          <tr>
            <td><input type="text" id ="apPat" name="ApPaterno" class="form-control" placeholder="Apellido paterno"></td>
            <td><input type="text" id ="apMat" name="ApMaterno" class="form-control" placeholder="Apellido materno"></td>
          </tr>
        </table>
        <table id = "tabgen">
          <tr>
            <td width = >
              <label for="fechaNac">Fecha de nacimiento</label>      
            </td>
            <td><label>Género</label></td>
            <td></td>
          </tr>   
          <tr>
          <td><input type="date" id ="fechaN" name="FechaNac" class="form-control"></td>
          <td><div class="radio">
            <label>
              <input type="radio" name="Genero" id="masc" value="M" checked>
              Masculino
            </label>
          </div></td>
          <td><div class="radio">
            <label>
              <input type="radio" name="Genero" id="fem" value="F">
              Femenino
            </label>
          </div></td>
          </tr>
        </table>
        <table id = "tab">
          <tr>
            <td><label for="tel">Teléfono</label></td>
            <td><label for="alerg">Alergias</label></td>
            <td></td>
            <td><label for="tips">Tipo de sangre</label></td>
          </tr>      
          <tr>
            <td><input type="text" id ="tel" name="Telefono" class="form-control" placeholder="Teléfono"></td>
            <td><div class="radio">
            <label>
              <input type="radio" name="Alergias" id="y" value="Si" checked>
              Sí
            </label>
          </div></td>
          <td><div class="radio">
            <label>
              <input type="radio" name="Alergias" id="n" value="No">
              No
            </label>
          </div></td>
          <td>
            <select class="form-control" name = "TipoSangre">
              <option value = "A+">A+</option>
              <option value = "B+">B+</option>
              <option value = "O+">O+</option>
              <option value = "AB+">AB+</option>
              <option value = "A-">A-</option>
              <option value = "B-">B-</option>
              <option value = "O-">O-</option>
              <option value = "AB-">AB-</option>
            </select>
          </td>
          </tr>
        </table>
        <label>Estado civil</label>
        <div class="radio">
            <label>
              <input type="radio" name="EdoCivil" id="Solter" value="Soltero(a)" checked> Soltero(a)
            </label>
            &nbsp;&nbsp;
            <label>
              <input type="radio" name="EdoCivil" id="Casad" value="Casado(a)"> Casado(a)
            </label>
            &nbsp;&nbsp;
            <label>
              <input type="radio" name="EdoCivil" id="Divor" value="Divorciado(a)"> Divorciado(a)
            </label>
            &nbsp;&nbsp;
            <label>
              <input type="radio" name="EdoCivil" id="Viud" value="Divorciado(a)"> Viudo(a)
            </label>
        </div>
        <table id = "tab">
          <tr>
            <td><label for="noInci">Número de incidencias</label></td>
            <td><label for="idDoc">ID del doctor</label></td>
          </tr>
          <tr>
            <td><input type="text" id ="noInci" name="NoIncidencias" class="form-control" placeholder="Número de incidencias"></td>
            <td><input type="text" id ="idDoc" name="idDoctor" class="form-control" placeholder="ID del doctor"></td>
          </tr>
        </table>
        <br>
      </div>
      <br>
      <div id = "botones" class = "container">
      <center><button type="submit" id="registrar" class="btn btn-success">Registrar paciente</button></center>
      </div>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../../resources/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>