<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bug asqueroso -->
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link href="../../../../Header/Ejemplo_pagina/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../../../../Header/Ejemplo_pagina/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../../../../Header/Ejemplo_pagina/css/freelancer.min.css" rel="stylesheet">

    <title>VITAE</title>
    <style type="text/css">
      body{
        background-color: white;
        overflow: auto;
      }
      #consultar{
        /*determinamos una anchura*/
        width:1400px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/
        /*determinamos una altura*/
        height:500px;
        border-radius: 25px;
        overflow: auto;
        /*indicamos que el margen superior, es la mitad de la altura*/
        margin-top:130px;

        background-color: #ebd2f6;
        border:1px solid #c6c6c6;
      }
      #inputs{

        /*nos posicionamos en el centro del navegador*/
        /*determinamos una anchura*/
        width:1100px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:330px;
        border-radius: 25px;
        overflow: auto;
        background-color: white;
        /*indicamos que el margen superior, es la mitad de la altura*/
        border:1px solid #c6c6c6;
      }
      #botones{
        /*nos posicionamos en el centro del navegador*/

        /*determinamos una anchura*/
        width:500px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:42px;
        border-radius: 25px;

        /*indicamos que el margen superior, es la mitad de la altura*/
      }
      #tab{
        width: 100%;
      }
      #tabgen{
        width: 100%;
      }
      #fechaN{
        width: 100%;
      }
      #tel{
        width: 100%;
      }
      #modificar{
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }
      #modificar:hover{
        background-color: #555555;
        color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">VITAE</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/pacientes.ejs/info_paciente.ejs/<%= data[0].idPaciente %>/ini_cuest.ejs">Regresar</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login.ejs">Cerrar sesión</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <div id = "consultar" class = "container col-lg8 col-xs-12 col-centered">
      <br>
      <center><h5>Cuestionario RFL</h5></center>
      <br>
      <form action ="/pacientes.ejs/info_paciente.ejs/<%= data[0].idPaciente %>/ini_cuest.ejs/cuest4" method ="post">
      <div id="inputs" class = "container col-lg8 col-xs-12 col-centered">
        <br>
        <table class = "table table-bordered table-hover">
          <tr>
            <th><label>RAZONES</label></th>
            <th><label>SIN NINGUNA IMPORTANCIA (COMO RAZÓN PARA NO QUITARSE LA VIDA, O NO APLICA A MI CASO, O NO CREO EN ESTO EN LO ABSOLUTO)</label></th>
            <th><label>DE MUY POCA IMPORTANCIA</label></th>
            <th><label>DE POCA IMPORTANCIA</label></th>
            <th><label>DE ALGUNA IMPORTANCIA</label></th>
            <th><label>DE MUCHA IMPORTANCIA</label></th>
          </tr>
          <tr>
            <td><label>1. Soy responsable y estoy comprometido con mi familia</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>2. Creo poder aprender a adaptarme y a lidiar con mis problemas</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>3. Creo tener control sobre mi vida y mi destino</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>4. Deseo vivir</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>5. Creo que sólo Dios tiene derecho a quitar una vida</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>6. Le tengo miedo a la muerte</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>7. Mi familia podría pensar que no los quisiera</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>8. No creo que las cosas lleguen a ponerse tan miserables e irremediables que prefiriera estar muerto</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>9. Mi familia depende de mí y me necesita</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>10. No quiero morir</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>11. Quiero ver a mis hijos crecer</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>12. La vida es lo único que tenemos y es mejor que no tener nada</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>13. Tengo planes para el futuro que me gustaría llevar a cabo</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>14. Por mal que me sienta, sé que no durará</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>15. Le tengo miedo a lo desconocido</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>16. Quiero a mi familia y disfruto de ellos demasiado para dejarlos</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>17. Quiero vivir todo lo que la vida ofrece y hay muchas experiencias que aún no he tenido que quisiera tener</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>18. Temo que mi método de matarme no funcionaría</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>19. Yo mismo me aprecio lo suficiente para seguir viviendo</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>20. La vida es demasiado bella y preciada para ponerle fin</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>21. No sería justo dejar mis hijos para que otros los cuiden</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>22. Creo poder encontrar otras soluciones a mis problemas</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P22" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P22" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P22" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P22" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P22" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>23. Tengo miedo de ir al infierno</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P23" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P23" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P23" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P23" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P23" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>24. Amo la vida</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P24" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P24" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P24" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P24" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P24" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>25. Soy demasiado estable para matarme</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P25" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P25" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P25" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P25" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P25" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>26. Soy un cobarde y no tengo la valentía para matarme</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P26" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P26" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P26" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P26" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P26" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>27. Mis creencias religiosas me lo prohíben</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P27" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P27" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P27" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P27" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P27" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>28. Podría tener un efecto perjudicial a mis hijos</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P28" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P28" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P28" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P28" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P28" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>29. Tengo curiosidad sobre lo que pasará en el futuro</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P29" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P29" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P29" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P29" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P29" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>30. Le dolería demasiado a mi familia y no quisiera hacerlos sufrir</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P30" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P30" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P30" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P30" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P30" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>31. Me preocupa lo que otros pensarían de mí</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P31" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P31" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P31" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P31" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P31" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>32. Creo que las cosas salen como convienen</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P32" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P32" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P32" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P32" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P32" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>33. No podría describir dónde, cuándo ni cómo lo haría</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P33" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P33" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P33" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P33" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P33" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>34. Lo considero inmoral</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P34" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P34" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P34" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P34" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P34" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>35. Todavía me quedan muchas cosas por hacer</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P35" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P35" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P35" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P35" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P35" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>36. Tengo la valentía de enfrentarme a la vida</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P36" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P36" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P36" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P36" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P36" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>37. Soy feliz y estoy a gusto con mi vida</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P37" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P37" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P37" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P37" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P37" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>38. Le tengo miedo al acto de matarme (el dolor, la sangre, la violencia)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P38" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P38" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P38" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P38" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P38" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>39. Creo que con matarme no lograría ni resolvería nada</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P39" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P39" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P39" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P39" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P39" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>40. Tengo la esperanza que las cosas mejorarán y el futuro será más feliz</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P40" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P40" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P40" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P40" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P40" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>41. La gente pensaría que soy débil y egoísta</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P41" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P41" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P41" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P41" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P41" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>42. Tengo un impulso innato de sobrevivir</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P42" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P42" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P42" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P42" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P42" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>43. No quisiera que la gente pensara que no tenía control sobre mi vida</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P43" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P43" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P43" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P43" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P43" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>44. Creo que puedo encontrar un propósito en la vida, una razón para vivir</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P44" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P44" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P44" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P44" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P44" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>45. Para qué apresurar la muerte</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P45" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P45" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P45" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P45" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P45" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>46. Soy tan inepto que mi método no funcionaría</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P46" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P46" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P46" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P46" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P46" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>47. No quisiera que mi familia se sintiera culpable después</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P47" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P47" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P47" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P47" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P47" value="5">
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>48. No quiero que mi familia piense que soy egoísta o cobarde</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P48" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P48" value="2">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P48" value="3">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P48" value="4">
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P48" value="5">
                </label>
              </div>    
            </td>
          </tr>
        </table>
        <br>
      </div>
      <br>
      <div id = "botones" class = "container">
        <center><button type="submit" id="modificar" class="btn btn-success">Registrar respuestas</button></center>
      </div>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../../../../resources/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>